O gerenciamento do relacionamento com os clientes tem como um dos seus objetivos
centrais aumentar o número de clientes ativos da empresa - e a retenção desses clientes é crítica
para seu sucesso. Sendo assim, um time foi mobilizado para garantir o desenvolvimento da
estratégia de retenção de clientes e, sabendo do seu potencial analítico, você foi convocado para
esse desafio.
Em busca de uma maior compreensão das particularidades do negócio e de melhor
entendimento do cenário do churn, vocês optaram por realizar uma análise exploratória dos
dados. Em um primeiro momento algumas hipóteses foram levantadas visando direcionar esse
desenvolvimento inicial e, considerando a base de dados disponibilizada e um período de churn
de 1 ano, foi requisitado a você a validação da seguinte hipótese:
“O churn de novos clientes é maior do que o churn de clientes ativos”

In [3]:
import pandas as pd
import numpy as np

In [9]:
df = pd.read_csv(r'base_dados\base_teste.csv')

In [10]:
df.head()

,Unnamed: 0,cidade_retirada,cidade_devolucao,cd_contrato,transporte_locado,data_abertura_contrato,qtd_diarias,data_fechamento_contrato,qtd_hora_extra,cd_cliente
0,0,Hogsmeade,Hogsmeade,HGM048798,Portal,2015-01-26 05:58:37,1,2015-01-27 05:58:37,0,1
1,1,Springfield,Springfield,SPF030834,Ônibus Escolar,2015-02-05 15:10:19,1,2015-02-06 15:10:19,0,1
2,2,Porto Real,Porto Real,PRL017782,Barco,2015-05-04 20:49:56,1,2015-05-05 20:49:56,0,1
3,3,Basin City,Basin City,SIN042621,1960 Corvette,2015-05-07 07:34:04,1,2015-05-08 07:34:04,0,1
4,4,Godric's Hollow,Godric's Hollow,GDH044954,Testralio,2015-08-01 11:14:48,2,2015-08-03 12:14:48,1,1

In [11]:
df.dtypes

Unnamed: 0                   int64
cidade_retirada             object
cidade_devolucao            object
cd_contrato                 object
transporte_locado           object
data_abertura_contrato      object
qtd_diarias                  int64
data_fechamento_contrato    object
qtd_hora_extra               int64
cd_cliente                   int64
dtype: object

In [13]:
df.cd_cliente.value_counts()

112       66
379       65
191       65
92        64
492       63
          ..
38744      1
38750      1
38751      1
38753      1
123883     1
Name: cd_cliente, Length: 44842, dtype: int64

In [15]:
df.qtd_diarias.value_counts()

1     193988
2     116526
3      69307
4      41222
5      24266
6      14489
7       8559
8       5138
9       3095
10      1751
11      1045
12       584
13       347
14       213
15       134
16        87
17        44
18        31
19        17
22         6
21         6
20         5
26         1
24         1
23         1
Name: qtd_diarias, dtype: int64